*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
.idea/.idea.castle-grimtol/.idea/misc.xml
.idea/.idea.castle-grimtol/riderModule.iml
.idea/.idea.castle-grimtol/.idea/contentModel.xml
.idea/.idea.castle-grimtol/.idea/encodings.xml
.idea/.idea.castle-grimtol/.idea/indexLayout.xml
.idea/.idea.castle-grimtol/.idea/modules.xml
.idea/.idea.castle-grimtol/.idea/vcs.xml
.idea/.idea.castle-grimtol/.idea/workspace.xml
